{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sobre {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12 ">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h1 class="title">Sobre ReqM4IoT</h1>
                                <h4 class="title">Saiba mais sobre o projeto e nossos objetivos</h4>
                        </div>
                        <div class="card-body px-5 py-3">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 px-md-1">
                                        <h2 class="title">O que é ReqM4IoT?</h2>
                                        <p>ReqM4IoT é uma ferramenta online desenvolvida para apoiar desenvolvedores (principalmente aqueles que estejam desenvolvendo sistemas Internet of Things - IoT) na realização das etapas de elicitação e análise de requisitos e modelagem de software. Desenvolvedores distribuídos geograficamente podem trabalhar juntos em um espaço de trabalho compartilhado, organizando os requisitos e os diagramas.</p>
                                        <p>Além de fornecer técnica especificas para analise de requisitos para IoT () e modelagem de software para IoT (SysIoTML), o sistema oferece várias funcionalidades que podem auxiliar e melhorar processo de desenvolvimento de software.</p>
                                        <br>
                                    </div>

                                    <div class="col-md-12 px-md-1">
                                        <h2 class="title">O que é SysIoTML?</h2>
                                        <p>O SysIoTML é uma extensão do SysML (Systems Modeling Language). A SysML é uma linguagem de propósito geral para modelagem de sistemas de aplicações de engenharia. O SysIoTML considerou aspectos específicos de Sistemas IoT (comportamento e interatividade), através dos diagramas: de Caso de Uso, Sequencia, Máquina de Estado e Bloco.<a href="https://www.scitepress.org/Link.aspx?doi=10.5220/0011988500003467" target="_blank"><sup>[1]</sup></a></p>
                                        <br>
                                    </div>

                                    <div class="col-md-12 px-md-1">
                                        <h2 class="title">O que é {Bruno da uma nome}?</h2>
                                        <p></p>
                                        <br>
                                    </div>

                                    <div class="col-md-12 px-md-1">
                                        <h2 class="title">Referências</h2>
                                        <p>1. Nascimento, R.; Santos, V.; Carvalho, B.; Correia, J.; Rivero, L.; Santos, R.; Silva, F.; Teles, A. and Viana, D. (2023). SysIoTML: A Technique for Modeling Applications in the Context of IoT. In Proceedings of the 25th International Conference on Enterprise Information Systems - Volume 2: ICEIS; ISBN 978-989-758-648-4; ISSN 2184-4992, SciTePress, pages 187-194. DOI: 10.5220/0011988500003467</p>
                                        <p></p>
                                        <br>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer text-center">
                            
                            
                            <br /><br />

                            <p>
                                                          
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
