{% extends "layouts/base.html" %}

{% block title %} Projetos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<style>
    #fileInput {
      display: none;
    }

    /* Estiliza o botão para se parecer com um botão de envio de arquivo */
    #customButton {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    /* Estiliza o rótulo para se parecer com um botão */
    #customButtonLabel {
      cursor: pointer;
    }
    #fileNameDisplay {
      margin-top: 10px;
      font-weight: bold;
    }
    /* Estilos para o select */
    .styled-select {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 16px;
        line-height: 1.5;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        cursor: pointer;
    }
    #projeto_form {
        margin-top: 20px;
    }
  </style>

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                  <div class="card-header">
                    <h4 class="card-title">Requisitos</h4>
                  </div>
                  <div class="card-body">
                    <label>Deseja trabalhar em qual projeto agora? </label>
                        <form id="projeto_form" method="post" action="{% url 'requisitos' %}">
                            {% csrf_token %}
                            <select name="escolha" id="projeto_select" class="styled-select form-control-sm">
                                {% for projeto in nomes_projeto %}
                                <option value="{{projeto.id}}" {% if nome == projeto.nome  %}selected{% endif %}>{{projeto.nome}}</option>                                
                                {% endfor %}
                            
                            </select>
                        </form>

                        <script>
                            // Adiciona um evento onchange ao select para acionar o envio do formulário
                            document.getElementById('projeto_select').addEventListener('change', function() {
                                document.getElementById('projeto_form').submit();
                            });
                        </script>

                        <!-- Botão para acionar modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
                            Novos requisitos no projeto {{nome}}
                        </button>
                        <form name = "formModal" id = "formModal" class = "form-horizontal" enctype="multipart/form-data" method="post" action = "{% url 'salvar_requisito' escolha.id%}">
                            {% csrf_token %}
                        <!-- Modal -->
                        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="form-group row">
                                            <label for="requisito" class="col-form-label" for = "requisito">Insira o novo requisito:</label>
                                            <div class = "col-sm-8">
                                                <input type="text" name="requisito" maxlength="100" required id="requisito" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <!--<label for="requisito" class="col-form-label ">Insira um arquivo de requisitos:</label>-->
                                             <!--/*RODRIGO*/-->
                                             <label id="fileNameDisplay" for="fileInput" class="custom-file-input" style="display: inline-block;
                                             padding: 10px 15px;
                                             margin-left: 15px;
                                             font-size: 16px;
                                             font-weight: bold;
                                             color: #fff;
                                             background-color: #6da5cb;
                                             border: 1px solid #2980b9;
                                             border-radius: 5px;
                                             cursor: pointer;
                                             opacity: 1;
                                             width: 700px;">Insira um arquivo de requisitos:</label>
                                             <input type="file" id="fileInput" onchange="displayFileName(this)" style="display: none;">
                                             <!--/*RODRIGO*/-->
                                        </div>
                                        
                                        <button type="button" class="btn btn-primary" id="analise">Avaliar o Requisito</button>

                                        <div class = "codigoHtmlContainer" id="codigoHtmlContainer"></div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary" id="btnSalvarMudancas">Salvar requisito</button>
                                </div>
                            </div>
                            <script>
                                function displayFileName(input) {
                                    const fileNameDisplay = document.getElementById("fileNameDisplay");
                                    const field = document.getElementById("fileInput")
                                
                                    const fileName = input.files[0].name;
                                    fileNameDisplay.innerText = `Insira um arquivo de requisitos: ${fileName}`;
                                }

                                document.addEventListener('DOMContentLoaded', function () {
                                    // Mantenha o modal aberto após a submissão
                                    document.getElementById('analise').addEventListener('click', function () {
                                        // Execute a lógica de submissão do formulário, se necessário
                                        // Exemplo usando jQuery
                                        var formData = new FormData();
                                        formData.append('csrfmiddlewaretoken', $('{% csrf_token %}').val());
                                        formData.append('requisito', $('#requisito').val());
                                        console.log($('#requisito').val())
                                        // Certifique-se de que o campo fileInput está correto e o arquivo está sendo selecionado
                                        var fileInput = $('#fileInput')[0];
                                        if (fileInput.files.length > 0) {
                                            formData.append('arquivo_requisitos', fileInput.files[0]);
                                        } else {
                                            formData.append('arquivo_requisitos', 'None');
                                        }
                                        $.ajax({
                                            url: "{% url 'processamento_requisito'%}",
                                            type: 'POST',
                                            processData: false,
                                            contentType: false,
                                            data: formData,
                                            headers: {
                                                'X-CSRFToken': $('{% csrf_token %}').val(),
                                            },
                                            success: function (data) {
                                                var modal = $('#modalExemplo');
                                                var modalBody = modal.find('.codigoHtmlContainer');
                                                modalBody.html(data.html_code);
                                                modal.modal('show');
                                            },
                                            error: function (error) {
                                                console.log(error);
                                            }
                                        });
                                    });
                                });
                            </script>
                            </div>
                        </div>
                    </form>
                        
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                            <tr>
                                <th class="text-center">
                                    Requisito
                                  </th>
                                  <th class="text-center">
                                    Tipo
                                  </th>
                                  <th class="text-center">
                                    Ações
                                  </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for requisito in requisitos %}
                            
                            <tr>
                                <td class="text-center">
                                    {{ requisito.valor|first }}
                                </td>
                                <td class="text-center">
                                    {{ requisito.valor|slice:"1:2"|first}}
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#modalEditar{{requisito.chave}}">
                                        <i class="bi bi-pencil"></i> Editar
                                    </a>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir{{ requisito.chave }}">
                                        <i class="bi bi-trash"></i> Excluir
                                    </a>
                                </td>
                            </tr>
                            <form name = "formModalExcluir" id = "formModalExcluir" class = "form-horizontal" method="post" action = "{% url 'excluir_requisito' escolha.id requisito.chave%}">
                                {% csrf_token %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalExcluir{{ requisito.chave }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <h1 for="projeto-nome-excluir" class="col-form-label">Você tem certeza que deseja excluir o requisito: {{requisito.valor}}</h1>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                            <button type="submit" class="btn btn-primary">Excluir Requisito</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </form>
                               <form name = "formModalEditar" id = "formModalEditar" class = "form-horizontal" method="post" action = "{% url 'editar_requisito' escolha.id requisito.chave%}">
                                    {% csrf_token %}
                                <!-- Modal -->
                                <div class="modal fade" id="modalEditar{{requisito.chave}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="requisito{{requisito.chave}}" class="col-form-label" for = "requisito{{requisito.chave}}">Insira o novo requisito:</label>
                                                
                                                    <input type="text" name="requisito{{requisito.chave}}" maxlength="100" required id="requisito{{requisito.chave}}" value="{{requisito.valor|first}}" class="form-control">
                                                
                                                <label >Classe:</label>
                                                <select name="classe_requisito{{requisito.chave}}" id="classe_requisito{{requisito.chave}}" class="styled-select form-control">
                                                    <option value="Functional" {% if "Functional" in requisito.valor %}selected{% endif %}>Funcional</option>  
                                                    <option value="Usability" {% if "Usability" in requisito.valor %}selected{% endif %}>Usability</option>                                                    
                                                    <option value="Fault tolerance" {% if "Fault tolerance" in requisito.valor %}selected{% endif %}>Fault tolerance</option>                                                    
                                                    <option value="Scalability" {% if "Scalability" in requisito.valor %}selected{% endif %}>Scalability</option>                                                    
                                                    <option value="Performance" {% if "Performance" in requisito.valor %}selected{% endif %}>Performance</option>                                                    
                                                    <option value="Portability" {% if "Portability" in requisito.valor %}selected{% endif %}>Portability</option>                                                    
                                                    <option value="Operacional" {% if "Operacional" in requisito.valor %}selected{% endif %}>Operacional</option>                                                    
                                                    <option value="Security" {% if "Security" in requisito.valor %}selected{% endif %}>Security</option>                                                    
                                                    <option value="Legal" {% if "Legal" in requisito.valor %}selected{% endif %}>Legal</option>                                                    
                                                    <option value="Look and Feel" {% if "Look and Feel" in requisito.valor %}selected{% endif %}>Look and Feel</option>                                                    
                                                    <option value="Availbility" {% if "Availbility" in requisito.valor %}selected{% endif %}>Funcional</option>                                                    
                                                    <option value="Maintainability" {% if "Maintainability" in requisito.valor %}selected{% endif %}>Maintainability</option>  
                                                </select>

                                                <button type="button" class="btn btn-primary" id="analise{{requisito.chave}}">Avaliar o Requisito</button>
                                                
                                                <div class = "codigoHtmlContainer{{requisito.chave}}" id="codigoHtmlContainer{{requisito.chave}}"></div>
                                            </div>
                                        </div>
        
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        <button type="submit" class="btn btn-primary" id="btnSalvarMudancas">Salvar requisito</button>
                                        </div>
                                    </div>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            // Mantenha o modal aberto após a submissão
                                            document.getElementById("analise{{requisito.chave}}").addEventListener('click', function () {
                                                // Execute a lógica de submissão do formulário, se necessário
                                                // Exemplo usando jQuery
                                                
                                                $.ajax({
                                                    url: "{% url 'processamento_requisito_editar'%}",
                                                    type: 'POST',
                                                    data: {
                                                        csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                                                        requisito: $('#requisito{{requisito.chave}}').val(),
                                                        chave: '{{ requisito.chave }}'
                                                    },
                                                    success: function (data) {
                                                        
                                                        var modal = $('#modalEditar{{requisito.chave}}');
                                                        console.log('#ModalEditar{{requisito.chave}}');
                                                        var modalBody = modal.find('.codigoHtmlContainer{{requisito.chave}}');
                                                        modalBody.html(data.html_code);
                                                        modal.modal('show');
                                                    },
                                                    error: function (error) {
                                                        console.log(error);
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                    </div>
                                </div>
                            </form>
                            
                            {%endfor%}
                        </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if requisitos.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ requisitos.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Página {{ requisitos.number }} de {{ requisitos.paginator.num_pages }}.
                            </span>
                    
                            {% if requisitos.has_next %}
                                <a href="?page={{ requisitos.next_page_number }}">next</a>
                                <a href="?page={{ requisitos.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                  </div>
              </div>
              <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Requisitos IoT</h4>

                    <form method="post" action="{% url 'classificador_iot' escolha.id %}">
                        {% csrf_token %}
                        
                        <!-- Seus outros campos do formulário aqui -->
                    
                        <button type="submit" class="btn btn-primary">Reclassificar os requisitos de IoT</button>
                    </form>
                    
                  </div>
                <div div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter ">
                    <thead class=" text-primary">
                        <tr>
                            <th class="text-center">
                                Requisito
                              </th>
                              <th class="text-center">
                                Sensor
                              </th>
                              <th class="text-center">
                                Atuador
                              </th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for requisito in requisitos_iot %}
                            <tr>
                                <td class="text-center">
                                    {{ requisito|first }}
                                </td>
                                {% for req in requisito|slice:"1:2" %}
                                    {% if req|slice:"1:2"|first %}
                                        <td class="text-center">
                                            <i class='fas fa-times'></i>
                                        </td>
                                    {% else %}
                                        <td class="text-center">
                                            <i class='fas fa-check'></i>
                                        </td>
                                    {% endif %}

                                    {% if req|slice:"2:3"|first %}
                                        <td class="text-center">
                                            <i class='fas fa-times'></i>
                                        </td>
                                    {% else %}
                                        <td class="text-center">
                                            <i class='fas fa-check'></i>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                        <div class="pagination">
                            <span class="step-links">
                                {% if requisitos_iot.has_previous %}
                                    <a href="?page2=1">&laquo; first</a>
                                    <a href="?page2={{ requisitos_iot.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Página {{ requisitos_iot.number }} de {{ requisitos_iot.paginator.num_pages }}.
                                </span>
                        
                                {% if requisitos_iot.has_next %}
                                    <a href="?page2={{ requisitos_iot.next_page_number }}">next</a>
                                    <a href="?page2={{ requisitos_iot.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
              
                </div>
            </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}
