{% extends "layouts/base.html" %}

{% block title %} Projetos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<style>
    #fileInput {
      display: none;
    }

    /* Estiliza o botão para se parecer com um botão de envio de arquivo */
    #customButton {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    /* Estiliza o rótulo para se parecer com um botão */
    #customButtonLabel {
      cursor: pointer;
    }
    #fileNameDisplay {
      margin-top: 10px;
      font-weight: bold;
    }
  </style>

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                  <div class="card-header">
                    <h4 class="card-title">Requisitos</h4>
                  </div>
                  <div class="card-body">
                    <label>Deseja trabalhar em qual projeto agora? </label>
                        <form method="post" action="{% url 'requisitos' %}">
                            {% csrf_token %}
                            <select name="escolha">
                                {% for projeto in nomes_projeto %}
                                <option value="{{projeto.id}}" {% if nome == projeto.nome  %}selected{% endif %}>{{projeto.nome}}</option>                                
                                {% endfor %}
                            
                            </select>
                            <input type="submit" value="Enviar">
                        </form>
                        <!-- Botão para acionar modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
                            Novos requisitos no projeto {{nome}}
                        </button>
                        <form name = "formModal" id = "formModal" class = "form-horizontal" enctype="multipart/form-data" method="post" action = "{% url 'salvar_requisito' escolha.id%}">
                            {% csrf_token %}
                        <!-- Modal -->
                        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="form-group row">
                                        <label for="requisito" class="col-form-label" for = "requisito">Insira o novo requisito:</label>
                                        <div class = "col-sm-8">
                                            <input type="text" name="requisito" maxlength="100" required id="requisito">
                                        </div>
                                    </div>
                                        <div class="form-group row">
                                            <label for="requisito" class="col-form-label col-sm-4">Insira um arquivo de requisitos</label>
                                            <div class="col-sm-8">
                                                <label id="customButtonLabel" for="fileInput">
                                                    <div id="customButton"></div>
                                                  </label>
                                                          <input type="file" id="fileInput" name = "fileInput" onchange="displayFileName()" accept=".txt, .docx" />                                               
                                                  <div id="fileNameDisplay"></div>
                                                </div>
                                        </div>
                                        
                                        <button type="button" class="btn btn-primary" id="analise">Avaliar o Requisito</button>

                                        <div class = "codigoHtmlContainer" id="codigoHtmlContainer"></div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary" id="btnSalvarMudancas">Salvar requisito</button>
                                </div>
                            </div>
                            <script>
                                function displayFileName() {
                                    // Obtém o elemento de input de arquivo
                                    var fileInput = document.getElementById('fileInput');

                                    // Obtém o elemento de exibição do nome do arquivo
                                    var fileNameDisplay = document.getElementById('fileNameDisplay');

                                    // Atualiza o conteúdo da div com o nome do arquivo selecionado
                                    fileNameDisplay.textContent = fileInput.files[0].name;
                                    }

                                document.addEventListener('DOMContentLoaded', function () {
                                    // Mantenha o modal aberto após a submissão
                                    document.getElementById('analise').addEventListener('click', function () {
                                        // Execute a lógica de submissão do formulário, se necessário
                                        // Exemplo usando jQuery
                                        var formData = new FormData();
                                        formData.append('csrfmiddlewaretoken', $('{% csrf_token %}').val());
                                        formData.append('requisito', $('#requisito').val());
                                        console.log($('#requisito').val())
                                        // Certifique-se de que o campo fileInput está correto e o arquivo está sendo selecionado
                                        var fileInput = $('#fileInput')[0];
                                        if (fileInput.files.length > 0) {
                                            formData.append('arquivo_requisitos', fileInput.files[0]);
                                        } else {
                                            formData.append('arquivo_requisitos', 'None');
                                        }
                                        $.ajax({
                                            url: "{% url 'processamento_requisito'%}",
                                            type: 'POST',
                                            processData: false,
                                            contentType: false,
                                            data: formData,
                                            headers: {
                                                'X-CSRFToken': $('{% csrf_token %}').val(),
                                            },
                                            success: function (data) {
                                                var modal = $('#modalExemplo');
                                                var modalBody = modal.find('.codigoHtmlContainer');
                                                modalBody.html(data.html_code);
                                                modal.modal('show');
                                            },
                                            error: function (error) {
                                                console.log(error);
                                            }
                                        });
                                    });
                                });
                            </script>
                            </div>
                        </div>
                    </form>
                        
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                            <tr>
                                <th class="text-center">
                                    Requisito
                                  </th>
                                  <th class="text-center">
                                    Tipo
                                  </th>
                                  <th class="text-center">
                                    Ações
                                  </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for chave,valor in requisitos.items %}
                            <tr>
                                <td class="text-center">
                                    {{ valor }}
                                </td>
                                <td class="text-center">
                                    Funcional
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#modalEditar{{chave}}">
                                        <i class="bi bi-pencil"></i> Editar
                                    </a>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir{{ chave }}">
                                        <i class="bi bi-trash"></i> Excluir
                                    </a>
                                </td>
                            </tr>
                            <form name = "formModalExcluir" id = "formModalExcluir" class = "form-horizontal" method="post" action = "{% url 'excluir_requisito' escolha.id chave%}">
                                {% csrf_token %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalExcluir{{ chave }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <h1 for="projeto-nome-excluir" class="col-form-label">Você tem certeza que deseja excluir o requisito: {{valor}}</h1>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                            <button type="submit" class="btn btn-primary">Excluir Requisito</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </form>
                               <form name = "formModalEditar" id = "formModalEditar" class = "form-horizontal" method="post" action = "{% url 'editar_requisito' escolha.id chave%}">
                                    {% csrf_token %}
                                <!-- Modal -->
                                <div class="modal fade" id="modalEditar{{chave}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="requisito{{chave}}" class="col-form-label" for = "requisito{{chave}}">Insira o novo requisito:</label>
                                                <div class = "col-sm-8">
                                                    <input type="text" name="requisito{{chave}}" maxlength="100" required id="requisito{{chave}}" value="{{valor}}">
                                                </div>
                                                <button type="button" class="btn btn-primary" id="analise{{chave}}">Avaliar o Requisito</button>
        
                                                <div class = "codigoHtmlContainer{{chave}}" id="codigoHtmlContainer{{chave}}"></div>
                                            </div>
                                        </div>
        
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        <button type="submit" class="btn btn-primary" id="btnSalvarMudancas">Salvar requisito</button>
                                        </div>
                                    </div>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            // Mantenha o modal aberto após a submissão
                                            document.getElementById("analise{{chave}}").addEventListener('click', function () {
                                                // Execute a lógica de submissão do formulário, se necessário
                                                // Exemplo usando jQuery
                                                
                                                $.ajax({
                                                    url: "{% url 'processamento_requisito_editar'%}",
                                                    type: 'POST',
                                                    data: {
                                                        csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                                                        requisito: $('#requisito{{chave}}').val(),
                                                        chave: '{{ chave }}'
                                                    },
                                                    success: function (data) {
                                                        
                                                        var modal = $('#modalEditar{{chave}}');
                                                        console.log('#ModalEditar{{chave}}');
                                                        var modalBody = modal.find('.codigoHtmlContainer{{chave}}');
                                                        modalBody.html(data.html_code);
                                                        modal.modal('show');
                                                    },
                                                    error: function (error) {
                                                        console.log(error);
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                    </div>
                                </div>
                            </form>
                            
                            {%endfor%}
                        </tbody>
                        </table>
                    </div>
                  </div>
              </div>
            </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}
